body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header {
  background-color: #008080;
  width: 100%;
}

.navbar-logo {
  height: 50px;
}

.nav-item {
  margin-left: 15px;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.nav-link:visited{
  color: white;
}

.bx-cart {
  font-size: 26px;
  margin-left: 22px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 16px;
    background-color: #008080;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 9999999;
  }
  
  .nav.show {
    display: flex;
  }

  .burger-menu {
    display: block;
    margin-right: 30px;
  }

  .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }

  .nav-item {
    margin: 6px 0;
  }

  .nav-link {
    font-size: 16px;
  }

  .navbar-logo {
    margin-left: 20px;
  }
}

/* LIVE GREEN */

nav{
  background-color: #008080;
}

.container.live-green {
  width: auto;
  height: 733px;
  margin: 0 auto;
}

.left-side {
  width: 700px;
  color: white;
  padding: 20px;
}

.right-side{
  position: relative;
}

.right-side-photo{
  max-width: 600px;
}

.button-shopping,
.button-learn-more {
  display: inline-block;
  width: 220px;
  height: 54px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 18px;
  border-radius: 50px;
}

.button-shopping{
  color: #008080;
  border: 2px solid #008080;
  background-color: white;
}

.button-learn-more{
  color: white;
  border: 2px solid white;
  background-color: #008080;
}

.left-side-one{
  font-size: 24px;
  margin: 0;
}

.left-side-two{
  font-size: 90px;
  margin-bottom: 30px;
}

.left-side-three{
  font-size: 18px;
  margin: 30px 0px;
}

.container.live-green::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 300px 0 0 0;
}


@media (max-width: 390px) {
  .container.live-green::before {
    display: none;
  }

  .right-side-photo{
    display: none;
  }

  .left-side-two{
    font-size: 60px;
    margin-bottom: 0px;
  }

  .left-side {
    padding: 0px 20px;
  }

  .container.live-green {
    height: 500px;
  }

  .left-side-three{
    font-size: 16px;
    margin: 20px 0px;
  }

  .button-shopping,
.button-learn-more {
  width: 200px;
  height: 50px;
  font-size: 16px;
}
}

/* ASSORTMENTS */

.centered-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.assortments-in-center {
  color: #5C5C5C;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.assortments {
  display: flex;
}

.left {
  width: 50%;
  height: 480px;
  padding: 10px;
  position: relative;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 480px;
  position: relative;
}

.top {
  flex: 1;
  padding: 10px;
  height: 240px;
}

.bottom {
  flex: 1;
  padding: 10px;
  height: 240px;
  position: relative;
}

.greenbox-1{
  border-radius: 50px 0px 0px 50px;
  background-color: #b2dbb5;
  height: 460px;
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
}

.greenbox-2{
  border-radius: 0px 50px 0px 0px;
  background-color: #cdeaa9;
  height: 220px;
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
}

.greenbox-3{
  border-radius: 0px 0px 50px 0px;
  background-color: #d6e3c7;
  height: 220px;
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
}

.left-text {
  position: absolute;
  top: 60px;
  left: 60px;
  color: #5C5C5C;
}

.left-text-3{
  color: #5C5C5C;
  border: 2px solid #5C5C5C;
  background-color: #b2dbb5;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
}

.left-text-2-li{
  margin-top: 16px;
  font-size: 18px;
}

.left-text-1{
  margin-bottom: 30px;
}

.left-text-3{
  margin-top: 20px;
}

.assortments-1-img{
  position: absolute;
  right: -20px;
  top: -30px;
  height: 550px;
}

.top-text {
  position: absolute;
  top: 30px;
  left: 50px;
  color: #5C5C5C;
}

.top-text-3{
  color: #5C5C5C;
  border: 2px solid #5C5C5C;
  background-color: #cdeaa9;
  width: 180px;
  height: 46px;
  font-size: 16px;
  border-radius: 50px;
}

.assortments-2-img{
  position: absolute;
  right: -30px;
  top: -36px;
  height: 330px;
}

.bottom-text {
  position: absolute;
  top: 30px;
  left: 50px;
  color: #5C5C5C;
}

.bottom-text-3{
  color: #5C5C5C;
  border: 2px solid #5C5C5C;
  background-color: #d6e3c7;
  width: 180px;
  height: 46px;
  font-size: 16px;
  border-radius: 50px;
}

.assortments-3-img{
  position: absolute;
  right: 20px;
  top: -6px;
  height: 240px;
}

@media (max-width: 390px) {
  .assortments-in-center {
    font-size: 24px;
    margin: 20px;
  }

    .container.assortments {
      flex-direction: column;
    }
  
    .left,
    .right, 
    .top,
    .bottom {
      width: 100%;
      height: auto;
      padding: 0;
    }
  
    .greenbox-1,
    .greenbox-2,
    .greenbox-3 {
      width: 100%;
      border-radius: 30px;
      box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
      margin-bottom: 20px;
      padding-top: 20px;
    }

    .greenbox-1{
      padding-top: 30px;
      height: 300px;
    }
  
    .left-text,
    .top-text,
    .bottom-text {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      margin: 0 20px;
    }
  
    .left-text-3,
    .top-text-3,
    .bottom-text-3 {
      margin-top: 10px;
      width: 100%;
    }

    .left-text-2-li{
      margin-top: 0px;
      font-size: 18px;
    }

    .left-text-1{
      margin-bottom: 10px;
    }

    .assortments-1-img{
      height: 300px;
      top: -30px;
      left: 60px;
    }

    .assortments-2-img{
      height: 180px;
      top: -6px;
      left: 60px;
    }

    .assortments-3-img{
      height: 160px;
      top: -2px;
      left: 70px;
    }

    div.assortments-2-img{
      width: 250px;
    }

    div.assortments-1-img{
      width: 250px;
    }
  
}

/* SLIDER */

.slider {
  overflow: hidden;
  width: 80%;
  padding: 60px 0px;
  position: relative;
}

.slides {
  display: flex;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #008080;
  font-size: 32px;
  padding: 10px;
  border: none;
  background-color: transparent;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slide-greenbox{
  height: 210px;
  width: 210px;
  margin: 0px 10px;
  background-color: #c3e2e2;
  border-radius: 40px;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
  position: relative;
}

.slide-greenbox-img-1{
  position: absolute;
  top: -55px;
  height: 280px;
  left: 10px;
}

.slide-greenbox-img-2{
  position: absolute;
  top: -53px;
  height: 280px;
  left: 1px;
}

.slide-greenbox-img-3{
  position: absolute;
  top: -62px;
  height: 280px;
  left: -35px;
}

.slide-greenbox-img-4{
  position: absolute;
  top: -50px;
  height: 280px;
  left: 0px;
}

.slide-greenbox-img-5{
  position: absolute;
  top: -44px;
  height: 280px;
  left: 5px;
}

@media (max-width: 390px) {
  .slider {
    overflow: hidden;
    width: 60%;
    padding: 60px 0px;
    position: relative;
  }

  .slider.container{
    padding: 54px 0px 40px;
  }

}

/* TEXT AFTER SLIDER */

#after-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-after-slider {
  text-align: center;
  max-width: 1320px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 390px) {
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 0px;
  }

}

/* PHOTOS */

.six-photos {
  max-width: 1320px;
  display: flex;
  margin: 0 auto;
}

.left-f {
  height: 470px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left-f img{
  height: 449px;
  margin-left: 10px;
}

.right-f {
  height: 470px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.upper-right-f {
  display: flex; 
  justify-content: space-between;
}

.upper-right-f img{
  height: 231px;
}

.lower-right-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.lower-right-f img{
  height: 197px;
  margin-left: 10px;
}

.six-photos img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 390px) {
  .right-f{
    display: none;
  }

  .left-f img{
    margin: 5px 0px;
  }

}

/* FEEL GREEN */

.feel-green-class {
  position: relative;
  display: inline-block;
}

.feel-green-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feel-green-class::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 128, 0.54);
  z-index: 1;
}

.feel-green-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 2;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 390px) {
  .feel-green-text-overlay {
    font-size: 34px;
    padding: 0;
  }
}

/* THEY SAY */

.parent {
  display: flex;
  justify-content: space-between;
  border: 1px;
  padding: 10px;
  margin-bottom: 80px;
}

.child {
  width: 30%;
  border: 1px;
  padding: 10px;
  height: 280px;
  position: relative;
}

.say{
  position: absolute;
  background-color: #C4E2E2;
  height: 240px;
  width: 350px;
  border-radius: 40px 40px 0 40px;
  top: 30px;
  left: 30px;
  color: #5C5C5C;
}

.circular-image img {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.say h4{
  position: absolute;
  top: 30px;
  left: 100px;
}

.say p{
  position: absolute;
  top: 94px;
  left: 24px;
  right: 10px;
}

@media (max-width: 768px) {
  .parent {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .child {
    width: 80%; 
    margin-bottom: 20px;
  }
  
  .say {
    width: 100%;
    left: 0;
    border-radius: 40px 0px;
  }

  .assortments-in-center{
    margin-bottom: 0px;
  }

  .circular-image img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -10px;
    left: -24px;
  }
}

/* FOOTER */

footer{
  background-color: #008080;
}

.parent-footer {
  display: flex;
  justify-content: space-between;
  border: 1px;
}

.child-footer {
  width: 30%;
  border: 1px;
  padding: 10px;
  height: 400px;
  position: relative;
}

.footer-logo-1{
  height: 50px;
  position: absolute;
  top: 60px;
  left: 40px;
}

.footer-number{
  position: absolute;
  top: 140px;
  left: 40px;
  color: white;
}

.footer-email{
  position: absolute;
  top: 180px;
  left: 40px;
  color: white;
}

.footer-icons{
  position: absolute;
  color: white;
  top: 240px;
  left: 40px;
}

.footer-icons i{
  border-radius: 50px;
  border: 1px solid white;
  padding: 10px;
  margin-right: 6px;
}

.child-footer p{
  color: white;
}

.child-footer a{
  text-decoration: none;
  color: white;
}

.child-footer img{
  height: 50px;
  padding-left: 10px;
}

.second-part{
  padding-top: 60px;
  padding-left: 50px;
}

.third-part{
  padding-top: 60px;
  padding-left: 30px;
}

.input {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 20px 0px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

.input-field {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.button-input {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px 15px;
}

.button-input::after {
  content: '▶';
  margin-left: 5px;
}

.parent-footer b{
  font-size: 20px;
}

@media (max-width: 390px) {
  .child-footer.second-part,
  .child-footer.third-part {
    display: none;
  }

  .child-footer {
    width: 100%;
    height: 400px;
    position: relative;
  }
}